<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cell-class-name</key>
		<string>UITableViewCell</string>
		<key>footer-title</key>
		<string>Class Dump GUI optimized</string>
		<key>icon-size</key>
		<string>29</string>
		<key>predicate</key>
		<string>(isSystemApplication = FALSE)</string>
		<key>suppress-hidden-apps</key>
		<string>1</string>
		<key>title</key>
		<string>User Applications</string>
	</dict>
</array>
</plist>
